body {
  padding-top: 10px;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  img#moi{
    height: 75px;
    width: 75px;
  }
   